@import 'theme-colors';
$theme-font: 100% verdana, sans-serif;

/*************
* GLOBAL
 */

html,
body {
	padding:0;
	margin:0;
	font-family: 100% verdana, sans-serif;
	color: #4a4a4a;
}

html {
	background-color: #cacaca
}

* {
	box-sizing: border-box;
	line-height: 1.7em;
}

body {
	font: $theme-font;
	h1, h2 {
		color: $themeColor-Dark;
		margin: 0;
	}

	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
		color: $linkColor-Dark;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	button {
		cursor: pointer;
	}

	h1 {
		font-size:1.8em;
	}

	h2 {
		font-size:1.5em;
	}

	h2 {
		font-size:1.3em;
	}
}
